.title{
    margin: 0;
    height: 100px;
    padding-top: 30px;
    border: 5px solid rgb(249, 220, 215);
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(144, 12, 63, 0.9);
    color: rgb(249, 220, 215);
}